/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 1200px;

// Large desktops
$screen-xl-hero-2-min: 1350px;

// Colors


$eggshell: #F5F5F5;
$sage: #9CB0A7;
$pink: #E3BCBA;
$tan: #C8C5BB;
$darkgray: #112E3E;


$white: #fff;
$black: #000;
$darkblue: #15344F;
$lightblue: #B3ECFF;
$green: #0A7A2A;
$green-button: #23AC4A;
$greenblue: #249379;
$lightgreen: #C8F8D6;

