/* =============
    Base
============= */

.body{
    background-color: $eggshell;

    overflow-x: hidden;
}


ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.ba{
    list-style-type: none;
}

a{
    text-decoration: none;
}