#about_me{

    >h1{
        text-align: center;
        margin-bottom: 40px;
        margin-top: 40px;
        background-color: $pink;

        @include lg{
            font-size: rem-calc(90);
        }
    }
   

    #intro-image{
        width: 100vw;
           
        
    }
   
    #intro-grid{
        display: grid;
        grid-template-areas: ". arrow .";
        grid-template-columns: auto 40vw auto;

        @include md{
            grid-template-areas: ". arrow . text .";
            grid-template-columns: auto 20vw 10vw 40vw auto;
        }
     

        #arrow{
            grid-area: arrow;
        //  svg{
        //     font-size: 20px;
        //  }
            
        }

        #intro-text{
            grid-area: text;

            display: none;

            @include md{
                display: grid;
                list-style-type: none;
                justify-content: space-between;

                padding: 40px 0px;
            }
            @include lg{
                padding: 100px 0px;
            }

            p{
                margin-top: 12px;
                margin-bottom: 12px;

                @include lg{
                    
                    font-size: rem-calc(20);
                }

              
            }
        }
    }


}