#my-work{


    >div{
        @include xl {
            display: grid;
            grid-template-areas: ". contain .";
            grid-template-columns: auto 1200px auto;
    
    
        }
       
        >h1{
            margin-bottom: 40px;
            margin-top: 40px;
            background-color: $sage;
    
            @include lg{
                font-size: rem-calc(90);
            }

            @include xl {
                grid-area: contain;

        
                
     
                 
            
        
            }
        }

    }

   
 
    .titles-h2-main{
        @include lg{
            font-size: rem-calc(120);
        }
    }

   

    ul{

    
        >li{
          

            text-align: center;
            padding: 200px 0px;

           
            .my-work-img{
                // width: 100vw;
                display: none;
            }

        
          .click-me-svg{
            //   background-color: green;
            width: 37vw;
            margin-bottom: -130px;
            // position: sticky;

          
          }

          .click-me-svg2{
            //   background-color: green;
            width: 37vw;
            margin-bottom: -130px;
            // position: sticky;

           
          }


          @include md{
            .click-me-svg{
                //   background-color: green;
                width: 30vw;
                margin-bottom: -170px;
                // position: sticky;
              }
              .click-me-svg2{
                //   background-color: green;
                width: 30vw;
                margin-bottom: -170px;
                // position: sticky;
              }
          }

        
          

         
        }

        li{
            @include lg{
               margin: 80px 0px;

            }

            @include xl{
        
                    margin: 200px 0px;
     
                 
            }
        }
       
        #typography-main{
           
            background-color: $pink;

            
            @include xl{
        
                margin-top: 60px ;
 
             
        }

            @include lg{
                background-color: transparent;
                padding: 0px;
                >a{
                    display: grid;
                    grid-template-areas: " left . right";
                    grid-template-columns: 70vw 16px auto;

                    .color1{
                        background-color: $pink;
                        height: 600px;
                        // width: 1200px;
                        grid-area: left;
                    }
                    .type-words-total{
                        grid-area: left;
                        text-align: center;

                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;


                        .click-me-svg{
                            margin-bottom: -250px;
                            

                        
                        }
                        @include xl{
                            .click-me-svg{
                                //   background-color: green;
                                width: 500px;
                                margin-bottom: -350px;
                                // position: sticky;
                              }
                            
                          }
                    }

                    .my-work-img{
                  
                        grid-area: right;
                        padding: 0px;


                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                       .img-resize{
                        padding: 0px;
                           width: 200px;
                       }

                       @include xl{
                        .img-resize{
                            padding: 0px;
                               width: 400px;
                           }
                       }
                    }
                }
            }

            
        }

        #branding-main{
            background-color: $sage;

            @include lg{
                background-color: transparent;
                padding: 0px;
                >a{
                    display: grid;
                    grid-template-areas: " left . right";
                    grid-template-columns: auto 16px 70vw;

                    .color-flex{
                       
                        text-align: right;
                        grid-area: right;

                        text-align: right;

                        display: flex;
                        justify-content: flex-end;
                        background-color: $sage;

                        .color2{
                            background-color: $sage;
                            height: 600px;
                            // width: 1200px;
                        }
                    }
                    .type-words-total{
                        grid-area: right;
                        text-align: center;

                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;


                        .click-me-svg{
                            margin-bottom: -250px
                        }
                        @include xl{
                            .click-me-svg{
                                //   background-color: green;
                           
                                width: 500px;
                                margin-bottom: -350px;
                                // position: sticky;
                              }
                            
                          }
                    }

                    .my-work-img{
                  
                        grid-area: left;
                        padding: 0px;


                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                       .img-resize{
                        padding: 0px;
                           width: 200px;
                       }
                       @include xl{
                        .img-resize{
                            padding: 0px;
                               width: 400px;
                           }
                       }
                    }
                }
            }

            
        }

        #publications-main{
            background-color: $tan;
            

            @include lg{
                background-color: transparent;
                padding: 0px;
                >a{
                    display: grid;
                    grid-template-areas: " left . right";
                    grid-template-columns: 70vw 16px auto;

                    .color3{
                        background-color: $tan;
                        height: 600px;
                        // width: 1200px;
                        grid-area: left;
                    }
                    .type-words-total{
                        grid-area: left;
                        text-align: center;

                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;


                        .click-me-svg{
                            margin-bottom: -250px
                        }
                        @include xl{
                            .click-me-svg{
                                //   background-color: green;
                           
                                width: 500px;
                                margin-bottom: -350px;
                                // position: sticky;
                              }
                            
                          }
                    }

                    .my-work-img{
                  
                        grid-area: right;
                        padding: 0px;


                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                       .img-resize{
                        padding: 0px;
                           width: 200px;
                       }
                       @include xl{
                        .img-resize{
                            padding: 0px;
                               width: 400px;
                           }
                       }
                    }
                }
            }
            
            
        }

        #posters-main{
            background-color: $pink;
            @include lg{
                background-color: transparent;
                padding: 0px;
                >a{
                    display: grid;
                    grid-template-areas: " left . right";
                    grid-template-columns: auto 16px 70vw;

                    .color-flex{
                       
                        text-align: right;
                        grid-area: right;

                        text-align: right;

                        display: flex;
                        justify-content: flex-end;
                        background-color: $pink;

                        .color4{
                            background-color: $pink;
                            height: 600px;
                            // width: 1200px;
                        }
                    }
                    .type-words-total{
                        grid-area: right;
                        text-align: center;

                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;


                        .click-me-svg{
                            margin-bottom: -250px
                        }
                        @include xl{
                            .click-me-svg{
                                //   background-color: green;
                           
                                width: 500px;
                                margin-bottom: -350px;
                                // position: sticky;
                              }
                            
                          }
                    }

                    .my-work-img{
                  
                        grid-area: left;
                        padding: 0px;


                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                       .img-resize{
                        padding: 0px;
                           width: 200px;
                       }
                       @include xl{
                        .img-resize{
                            padding: 0px;
                               width: 400px;
                           }
                       }
                    }
                }
            }

            
        }


        
        #photos-main{
            background-color: $sage;

            @include xl{
        
                margin-bottom: 60px ;
 
             
        }

            @include lg{
                background-color: transparent;
                padding: 0px;
                >a{
                    display: grid;
                    grid-template-areas: " left . right";
                    grid-template-columns: 70vw 16px auto;

                    .color5{
                        background-color: $sage;
                        height: 600px;
                        // width: 1200px;
                        grid-area: left;
                    }
                    .type-words-total{
                        grid-area: left;
                        text-align: center;

                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;


                        .click-me-svg{
                            margin-bottom: -250px
                        }
                        @include xl{
                            .click-me-svg{
                                //   background-color: green;
                           
                                width: 500px;
                                margin-bottom: -350px;
                                // position: sticky;
                              }
                            
                          }
                    }

                    .my-work-img{
                  
                        grid-area: right;
                        padding: 0px;


                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                       .img-resize{
                        padding: 0px;
                           width: 200px;
                       }
                       @include xl{
                        .img-resize{
                            padding: 0px;
                               width: 400px;
                           }
                       }
                    }
                }
            }

            
        }
    }
}