#typpgraphy-sub{

    @include xl{
        display: grid;
        grid-template-areas: ". sub2 .";
        grid-template-columns: auto 1200px auto;

        
    }
    // .color-div1{
    //     background-color: $pink;
    // }
    // .color-div2{
    //     background-color: $sage;
    // }
    // .color-div3{
    //     background-color: $tan;
    // }


    div{
        grid-area: sub2;

        >svg{
            margin-bottom: -150px;
            margin-top: 100px;
            // background-color: $sage;
            border-radius: 100%;

            @include md{
                margin-bottom: -200px;
            }
    
            @include lg{
                margin-bottom: -300px;
                font-size: rem-calc(90);
            }

            @include xl {
                grid-area: contain;

        
                
     
                 
            
        
            }
        }

      
            h2{
                font-size: rem-calc(60);
                line-height: 1.5;
   
                padding: 20px 40px;
                text-align: center;
                font-weight: 400;
              
                margin: 0px 16px;
                // border: 1px $darkgray solid;
          
                border-radius: 100px;

                height: 80vh;

                display: flex;
                justify-content: center;
                align-items: center;

                @include lg{
                    font-size: rem-calc(100);

                    // margin: 150px 20px;
                }

               
            }
    
            h3{
                padding: 16px 40px;

                @include lg{
                    padding: 20px 20vw;
                    font-size: rem-calc(30);
                }

                @include xl{
                    padding: 20px 90px;

                }
            }
            p{
                padding: 0px 40px; 

                @include lg{
                    padding: 8px 20vw;
                    font-size: rem-calc(20);
                }

                @include xl{
                    padding: 8px 90px;

                }


            }
            >div{

               
                    // @include xl{
                    //     display: grid;
                    //     grid-template-areas: ". containcarousel .";
                    //     grid-template-columns: auto 1200px auto;
                
                        
                    // }

                    .carousel{

                        height: 400px;
        
                        
                        @include md{
                            height: 700px;
                         }
            
                    }
                    
            
                   .carousel__slide{
                       width: 100%;
                       height: 100%;

                       @include xl{
                        // width: 10%;
                        height: 700px;
                     }


                       img{
                            
                        max-height: 300px;

                   

                    @include md{
                        max-height: 700px;
                    padding: 16px;
                    }

                    @include xl{
                        height: 40vw;
                    }

                    
                }
            
            
                    
                   }
          
            
                   >ul{
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
            
                    li{
                        // width: 40vw;
        
                        display: flex;
                        justify-content: center;
                        align-items: center;
                   
                        
        
                        
                    }
                   
                    
                }
    
                #gif-sj-flex{
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: center;
    
                    #gif-sj{
    
                     
        
                        width: 90vw;
                        padding: 16px;
        
        
        
                    }
    
                }
                
                #soah-video{
    
                    // display: grid;
                    // grid-template-areas: ". video .";
                    // grid-template-columns: 25px auto 16px;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: center;
                    #soah-video2{
                        grid-area: video;
                        width: 90vw;
                        padding: 16px;
                        text-align: center;
                    }
                    
                }

                #aesops-fables{
                    >li{
                        >a{
                            >img{
                                height: 250px;
                                transition: 0.5s;
                            }
                           

                            &:hover{
                                >img{
                                    height: 300px;
                                }
                            }
                           
                        }
                    }
                    .hidden{
                        display: none;
                    }
                }

                #soah-gallery{
                    >li{
                        >a{
                            >img{
                                height: 250px;
                                transition: 0.5s;

                                @include md{
                                    height: 400px;
                                }
                            }
                           

                            &:hover{
                                >img{
                                    height: 300px;
                                    
                                    @include md{
                                        height: 450px;
                                    }
                                }
                            }
                           
                        }

                    }
                    .hidden{
                        display: none;
                    }
                }

                #souvenir-gallery{
                    >li{

                        padding: 16px;
                        >img{
                            width: 70vw;
                            transition: 0.5s;

                            @include md{
                                width: 600px;
                            }
                        }

                    }
                }
    
            }


    }

    

     
   
}