/* =============
    Footer
============= */
#footer {
	@include xl {
		display: grid;
		grid-template-areas: ". contain .";
		grid-template-columns: auto 1200px auto;


	}

	>div{

		@include xl {
			grid-area: contain;
	
	
		}

	
	

		>svg{
            margin-bottom: -200px;
            margin-top: 40px;
            // background-color: $sage;
            border-radius: 100%;

            @include md{
                margin-bottom: -370px;
            }
    
            @include lg{
                margin-bottom: -500px;
                font-size: rem-calc(90);
            }

            @include xl {
                grid-area: contain;

        
                
     
                 
            
        
            }
        }


>div{

	text-align: center;

		>form{
			#input-name{

				width: 27vw;
				background-color: $pink;

				@include xl{
					width: 1200px;
		
				}
				
			}
			#input-email{
				width: 27vw;
				background-color: $sage;

				@include xl{
					width: 1200px;
					
				}
			}
			#input-subject{
				width: 60vw;
				background-color: $tan;

				@include xl{
					width: 1200px;
				}
			}
			#input-submit{
				width: 60vw;
				background-color: $sage;

				&:hover{
					background-color: $tan;
					transition: .5s;
				}
				@include xl{
					width: 1220px;
					margin: 8px;
				}
			}


		}

}
	

	input{
		background-color: none;
		border: 1px $darkgray solid;
		border-radius: 10px;
		padding: 10px;
		color: $darkgray;
		margin: 8px;

		@include xl{
			width: 1200px;
		}
		
	}

	textarea{
		background-color: $pink;
		border: 1px $darkgray solid;
		border-radius: 10px;
		padding:10px 10px 50px;
		margin: 8px;	
		width: 60vw;

		@include xl{
			width: 1200px;
		}
	}

}
}
