/* =============
    Footer
============= */
#footer {
	>ul {
		background-color: $darkblue;
		display: grid;
		grid-template-areas: "travel phone"
            "travel socials"
            "info info";
		grid-template-columns: 40% 60%;
		#footer-phone {
			grid-area: phone;
			padding-top: 16px;
			@include lg {
				display: flex;
			}
			>a {
				align-items: center;
				display: flex;
				text-decoration: none;
				@include lg {
					justify-content: center;
				}
				>i {
					font-size: rem-calc(50);
					padding-right: 16px;
				}
				>h6 {
					font-size: rem-calc(16);
					font-variation-settings: "wght"400;
					line-height: .9;
				}
			}
			a:link,
            a:visited {
				color: $lightgreen;
				transition: 00.25s;
				&:hover,
                &:active {
					color: $lightblue;
				}
			}
		}
		#footer-travel {
			align-items: center;
			display: flex;
			grid-area: travel;
			justify-content: center;
			@include lg {
				justify-content: left;
			}
			>a {
				text-decoration: none;
				>h6 {
					font-size: rem-calc(24);
					font-variation-settings: "wght"400;
					line-height: .9;
					padding: 0px 32px;
				}
			}
			a:link,
            a:visited {
				color: $lightgreen;
				transition: 00.25s;
				&:hover,
                &:active {
					h6 {
						color: $lightblue;
					}
				}
			}
		}
		#footer-socials {
			grid-area: socials;
			padding: 20px 0px;
			#follow-us {
				color: $lightgreen;
				font-size: rem-calc(16);
				font-variation-settings: "wght"400;
				line-height: .9;
			}
			#social-media {
				display: flex;
				font-size: rem-calc(50);
				justify-content: space-between;
				padding-right: 24px;
				>li {
					a:link,
                    a:visited {
						color: $white;
						transition: 00.25s;
						&:hover,
                        &:active {
							color: $lightblue;
						}
					}
				}
			}
		}
		#footer-info {
			grid-area: info;
			>p {
				color: $lightblue;
				font-size: rem-calc(12);
				font-variation-settings: "wght"400;
				line-height: 1.2;
				padding: 0px 16px 32px;
				text-align: center;
			}
		}
		@include md {
			grid-template-areas: "travel phone ."
                "travel socials ."
                "info info info";
			grid-template-columns: 40% 40% auto;
		}
		@include lg {
			display: grid;
			grid-template-areas: ". phone travel socials ."
                "info info info info info";
			grid-template-columns: auto 300px 300px 300px auto;
		}
		@include xl {
			display: grid;
			grid-template-areas: ". phone travel socials ."
                "info info info info info";
			grid-template-columns: auto 400px 400px 400px auto;
		}
	}
}
