/* =============
    Header
============= */
header {
	background-color: $darkblue;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index:1000;




	#navigation-header {
		display: grid;
		grid-template-areas: "survival search burger"
            "nav nav nav";
		grid-template-columns: auto 40% 15%;
		padding-top: 32px;

		@include md {
			grid-template-columns: 30% auto 100px;

		}

		@include lg {
			grid-template-areas: "survival  nav";
			grid-template-columns: 25% auto;
			padding-right: 16px;
			padding-top: 0px;
			
		}
		@include xl {
			grid-template-areas: "survival nav";
			grid-template-columns: 18% auto;
		}
		#logo-container {
			grid-area: survival;
			padding-left: 16px;
			z-index: 40;
			button {
				background-color: $lightblue;
				color: $darkblue;
				display: inline-block;
				font-size: rem-calc(18);
				transition: 0.25s;
				&:hover {
					background-color: $darkblue;
					border: 1px solid $lightblue;
					color: $lightblue;
				}
			}
			@include lg{
				padding-top: 40px;
			}
		}

		

		#burger-container {
			grid-area: burger;
			z-index: 5000;
			background-color: $darkblue;
			padding-right: 16px;
			@include lg {
				display: none !important;
			}
			svg {
				color: $lightgreen;
				cursor: pointer;
				font-size: rem-calc(50);
			}
		}

		#nav-container {

			position: fixed;
			top: 100px;
			grid-area: nav;
			width: 100vw;
			height: 100vh;
			z-index: 0;
			@include md {
				width: 70vw;
				right: 0px;
			}
			@include lg {
				width: 100%;
				height: fit-content;
				background-color: $darkblue;
				position: static;
				z-index: 7000;




		
			}
		}
	}

	.nav-btns{
		@include lg{
			padding-right: 0px;
			margin-bottom: 30px;
		}

	}

	#search-flex {
		@include lg{
			padding-right: 10px;
		}
		.search-flex-center{
			color: transparent;
		}


		#search-bar {

			background-color: transparent;
			padding-bottom: 40px;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			

			
			@include md{
				padding-right: 180px;
			
				
			}
			@include lg{
				padding-right: 0px;
				padding-bottom: 0px;
				padding-left: 10px;
			}


			>form {

				padding: 0px;

				display: grid;
		grid-template-areas: "search-bar-on-top";
		grid-template-columns: auto;

		@include lg{
			margin-left: 50px;
			padding-top: 8px;
		}
				#search-message{
				margin-bottom: 50px;
				margin-right: 20px;
				margin-left: 20px;
				grid-area: search-bar-on-top;
				z-index: 200;
			
				}
				#search-bar-svg{
					
					grid-area: search-bar-on-top;
					
				
				}
				@include md{
					padding: 0px;
				}		
				@include lg{
					font-size: rem-calc(12);
				}			
				>input {
					background-color: transparent;
					border: none;
					text-decoration: none;
					border-radius: 0px;
					color: $lightblue;
					font-variation-settings: "wght"600;
					font-weight: 300;
				

					&::placeholder {
						color: white;
					}
					&:-ms-input-placeholder {
						color: $lightblue;
						font-size: rem-calc(24);
					}
				}
			}
		}
	}
}
