/* =============
    Buttons
============= */
button {
	background-color: transparent;
	border: .5px solid $darkgray;
	border-radius: 100px;
	color: $darkgray;
	cursor: pointer;
	font-size: rem-calc(24);

	font-family: 'Noto Serif Display', serif;
	font-weight: 300;

	// font-variation-settings: "wght"600;
	// font-weight: 600;
	padding: 10px;
	transition: 0.25s;
	&:hover {
		background-color: $darkgray;
		color: $pink;
	}
	@include md {
		font-size: rem-calc(24);
		padding: 10px 40px;
	}
}
